*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

img{
    margin-top: 30px;
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#h1-cronometro{
    text-align: center;
    font-size: 50px;
    font-family: 'Rubik Vinyl', cursive;
    color: #b11f1f;

}

#caixa-numerros{
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 340px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding-left: 10px;
    
}

.numerros{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;


}

#caixa-botoes{
    margin-top: 30px;
    text-align: center;


}

.botoes{
    color: #000000;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
    
}

#corsegundo{
    background: rgb(255, 0, 0);
    
}